body {
  background: #D7E9F8;
  text-align: center;
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

nav {
  background: #C29779;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

li {
  margin: 2px;
  padding: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  color: #E0115F;
  font-weight: 600;
}

a:hover {
  color: #3C1361;
}

h1, h2 {
  font-family: 'Source Serif Pro', serif;
  color: #FFFFFF;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

img {
  width: 100%;
}

h1 {
  background: #365C30;
  margin: 0px;
  padding: 20px;
}
