body {
  background: #D7E9F8;
  text-align: center;
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.navcontainer nav {
  background: #C29779;
  display: block;
}

.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #C29779;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navcontainer li {
  margin: 2px;
  padding: 10px;
}

.navcontainer a {
  text-decoration: none;
  font-weight: bold;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 600;
  font-size: 1.25em;
}

.navcontainer a:hover {
  color: #FFFFFF;
}

#title {
  font-family: 'Source Serif Pro', serif;
  color: #FFFFFF;
  font-weight: 700;
  background: #365C30;
  margin: 0px;
  padding: 25px;
  font-size: 2.5em;
}

#intro-header {
  font-family: 'Source Serif Pro', serif;
  color: #000000;
  font-size: 2em;
  margin-block-end: 0em;
  margin: 1rem auto;
  max-width: 800px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  display: block;
  line-height: 1.6;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  margin: 1rem auto;
  max-width: 800px;
}

#decorate{
  text-align: left;
}

#east {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  max-width: 800px;
}

.credit a {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  color: #000000;
}

.credit {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.defcontainer {
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-direction: row;
  justify-content: unset;
  flex-wrap: wrap;
  margin: 1rem auto;
  max-width: 800px;
}

.defterm {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  flex-direction: column;
}

.defterm h3 {
  font-weight: bolder;
  font-size: 1.5em;
  font-family: 'Source Serif Pro', serif;
}

.birdterm {
  font-size: 1rem;
  color: #000000;
  display: block;
  width: 98%;
  box-sizing: border-box;
  line-height: 1.8em;
}

#second-header {
  font-family: 'Source Serif Pro', serif;
  color: #000000;
  margin-block-start: 1.5em;
  margin-block-end: 1em;
  font-size: 1.8em;
  margin: 1rem auto;
  max-width: 800px;
}

.tip {
  font-weight: bolder;
  color: #000000;
  font-size: 1.1em;
  font-family: 'Source Serif Pro', serif;
}

.link a {
  text-decoration: underline;
  font-weight: bold;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 600;
  font-size: 1em;
}

.link a:hover {
  color: #C29779;
}

.link {
  margin-block-end: 2.2em;
}

.space {
  margin-block-end: 1em;
}

ol {
  text-align: left;
  line-height: 1.8;
  margin-right: 2em;
  margin: 1rem auto;
}

#nine-hundred {
  max-width: 900px;
}

footer {
  font-family: 'Source Serif Pro', serif;
  color: #FFFFFF;
  font-weight: 700;
  background: #365C30;
  margin: 0px;
  padding: 15px;
  font-size: 1.150em;
}

.foot a {
  font-family: 'Source Serif Pro', serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.150em;
  text-decoration: none;
}

.foot a:hover {
  color: #000000;
}


.birdpic {
  align:left;
  margin: 0 15px 0 0;
  width: 98%;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.6;
}

.birdpic img {
  align:left;
  margin: 0 15px 0 0;
  width: 400px;
  margin-left: 5px;
  margin-right: 5px;
}

.pic-text {
display:flex;
margin-block-end: 2em;
margin: 1rem auto;
max-width: 800px;
}

.text-ul{
  list-style-type: none;
  padding-inline-start: 3px;
  text-align: left;
  margin: 1em;
  margin-top: 0em;
}

.label{
  text-align: justify;
  margin: 1rem auto;
  max-width: 800px;
  font-size: 1.7em;
}

.defcontainer a:hover {
  color: #C29779;
}

.defcontainer a {
    text-decoration: underline;
    font-weight: bold;
    font-style:normal;
    text-transform: inherit;
    color: #000000;
    font-weight: 600;
    font-size: 1em;
  }

  #mapp {
    width: 50%;
    height: auto;
  }

  .mapcontainer{
  margin-block-end: 2em;
  margin-block-start: 2em;
  }

  #google-map{
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 2em;
    width: 770px;
  }

  #menu_trigger {
    display: none;
  }

  .region {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    color: #000000;
    font-size: 1.5em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
  }

  h4{
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    color: #000000;

  }

  .description {
  text-align: center;
  list-style: circle;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  }

  .detail {
  text-align: left;
  list-style-position: inside;
  margin: 1rem auto;
  max-width: 700px;
  line-height: 1.5;
  }

  .detail a:hover{
  color: #C29779;
  }

.detail a{
  text-decoration: underline;
  font-weight: bold;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 600;
  font-size: 1em;
}

/*@media (max-width: 850px) {

    li {
      width: 50%;
    }

  }

  @media (max-width: 800px) {

    ul {
      flex-direction: column;
    }

    li {
      width: 100%;
    }

}


@media (max-width: 600px){
    #menu_trigger {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    #menu_nav {
      display: none;
    }
  }*/

@media (max-width: 800px){

.pic-text{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

.label{
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.defcontainer{
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#google-map{
  height: 450px;
  width: 100%;
  display: block;
}

section {
padding: 1rem;
}

.text-ul{
  margin-top: 1.3em;
 }

}

@media (max-width: 600px) {
  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #menu_nav {
    display: none;
  }

}
