body {
  background: #D7E9F8;
  text-align: center;
  margin:0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.navcontainer nav {
  background: #C29779;
  display: block;
}

.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #C29779;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.navcontainer li {
  margin: 2px;
  padding: 10px;
}

.navcontainer a {
  text-decoration: none;
  font-weight: bold;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 600;
  font-size: 1.25em;
}

.navcontainer a:hover {
  color: #FFFFFF;
}

#title {
  font-family: 'Source Serif Pro', serif;
  color: #FFFFFF;
}

#title {
  font-weight: 700;
}

#title {
  background: #365C30;
  margin: 0px;
  padding: 25px;
  font-size: 2.5em;
}

#intro-header {
  font-family: 'Source Serif Pro', serif;
  color: #000000;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  display: block;
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

img {
  width: 100%;
}

.credit a {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  color: #000000;
}

.credit {
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.birdDefintion ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}

.birdterm li {
  width: 100%;
  font-size: 4rem;
  font-style: bold;
  color: #000000;
  display: block;
}

#second-header {
  font-family: 'Source Serif Pro', serif;
  color: #000000;
}

.tip li {
  font-family: font-family: 'Lato', sans-serif;
  font-style: bold;
  color: #000000
}

ol {
  text-align: left;
  line-height: 1.5;
}
